/*@media only screen and (min-width: 1200px) {*/

    .topNav{
        height: 5%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 0%;
        overflow-x: hidden;
    }
    .topNav nav{
        display: flex;
        height: 100%;
        width: 85%;
        justify-content: end;
        padding-left: 30px;
        padding-bottom: 10px;
        margin-bottom: 5px;

    }
    .topNav nav li{
        list-style: none;
        padding: 1% 1%;
    }
    .topNav nav li a{
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        color: black;
    }
    .logo{
        color: rgb(23, 2, 106);
        text-shadow: 1px 1px 2px rgb(219, 246, 95), 0 0 25px rgb(4, 4, 0), 0 0 5px rgb(50,50, 63) ;
        font-size: 20px;
        font-weight: 700;
        margin: 17px 16px;
    }
    .second-nav{
        width: 100%;
        height: 35vh;
        /*clip-path: polygon();*/
        background-color: dodgerblue;
        padding: 5% 5% 5% 5%;
    }
    .second-middle h4{
        text-align: center;
        font-size: 35px;
        color: white;
        margin-right: 15%;
        font-family: "Comic Sans MS", fantasy;
    }
    .second-middle h6{
        text-align: center;
        font-size: 15px;
        color: white;
        margin-right:15%;
        font-family: "Comic Sans MS", fantasy;
    }
    .second-middle h5 {
        border: 2px solid black;
        background-color: black;
        color: white;
        font-size: 17px;
        height: 50%;
        width: 10%;
        text-align: center;
        margin-left: 38%;
        font-family: "Comic Sans MS", fantasy;
    }

    .list{
        display: flex;
        align-items: center;
        width: 100px;
        margin: auto;
        width: 70px;
        margin-top: 200px;
    }

    .third-nav{
        background-color: aliceblue;
    }

    .third_nav_design{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 70%;
        height: 15vw;
        padding: 5% 5% 5% 5%
    }
    .third-nav-left{
        position: absolute;
        top: 110%;
        left: 10%;
        font-size: 20px;
        font-family: "Comic Sans MS", fantasy;
    }
    .third-nav-middle{
        position: absolute;
        top: 110%;
        left: 43%;
        font-size: 20px;
        font-family: "Comic Sans MS", fantasy;
    }
    .third-nav-right{
        position: absolute;
        top: 110%;
        left: 80%;
        font-size: 20px;
        font-family: "Comic Sans MS", fantasy;
    }

    .partnerLeft{
        position: absolute;
        top: 40%;
    }
    .partner-right{
        position: absolute;
        top: 32%;
        left: 80%;
    }

    .img {
        margin-left: 1400px;

    }

    .flex_channel{
        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    .flex_vendor, .flex_salesman{
        display: flex;
        justify-content: space-around;
    }

    .fourth-nav-fifth, .fourth-nav-last{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }

    footer{
        background-color: #000;
    }

    .fifth-nav-new{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1140px;
        margin: auto;
        height: 250px;
        color:white;

    }

    .write_reserve{
        display: flex;
        justify-content: space-around;
        color: #ddd;
        padding-bottom: 20px;
    }



    @media only screen and (max-width: 767px) {

        html, body {
            height: 100%;
            background: #000;

        }

        .main-container {
            height: 100%;
            margin-bottom: -100px;
            background: #ddd;
            overflow-x: hidden;
            width: 80%;
            /*!*height: 100%;*!*/
            /*position: relative;*/
            /*border: black;*/

        }

        /*.main-container:after {*/
        /*    content: "";*/
        /*    display: block;*/
        /*    height: 100px;*/
        /*}*/
        .logo {
            color: rgb(23, 2, 106);
            text-shadow: 1px 1px 2px rgb(219, 246, 95), 0 0 25px rgb(4, 4, 0), 0 0 5px rgb(50, 50, 63);
            font-size: 20px;
            font-weight: 700;
            margin: 17px 16px;
        }

        .ptag {
            width: 10%;
            text-align: start;
            padding-top: 0%;
        }

        .topNav {
            height: 5%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-top: 0%;
        }

        .topNav nav {
            display: flex;
            height: 100%;
            width: 85%;
            justify-content: end;
            padding-left: 30px;
            padding-bottom: 10px;
            margin-bottom: 5px;

        }

        .topNav nav li {
            list-style: none;
            padding: 1% 1%;
        }

        .topNav nav li a {
            text-decoration: none;
            font-size: 15px;
            font-weight: 700;
            color: black;
        }

        .login {
            display: flex;
            text-align: center;
            padding: 1%;
            width: 8%;
            justify-content: space-between;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .getADemo {
            border: 1px solid blue;
            color: blue;
            font-size: 13px;
            height: 50%;
            text-align: justify-all;
            padding-bottom: 11px;
            padding-top: -7px;
        }

        .login img {
            width: 35%;
            height: 40%;
            padding-top: 10%;
            margin-top: 7px;
        }

        .second-nav {
            width: 100%;
            height: 20vw;
            background-color: dodgerblue;
            padding: 5% 5% 5% 5%;
        }

        .second-middle h4 {
            text-align: center;
            font-size: 35px;
            color: white;
            margin-right: 15%;
            font-family: "Comic Sans MS", fantasy;
        }

        .second-middle h6 {
            text-align: center;
            font-size: 15px;
            color: white;
            margin-right: 15%;
            font-family: "Comic Sans MS", fantasy;
        }

        .second-middle h5 {
            border: 2px solid black;
            background-color: black;
            color: white;
            font-size: 17px;
            height: 50%;
            width: 10%;
            text-align: center;
            margin-left: 38%;
            font-family: "Comic Sans MS", fantasy;
        }

        .partnerLeft {
            position: absolute;
            top: 40%;
        }

        .partner-right {
            position: absolute;
            top: 32%;
            left: 80%;
        }

        .third-nav {
            width: 100%;
            height: 20vw;
            background-color: aliceblue;
            padding: 5% 5% 5% 5%
        }

        .third-nav-left {
            position: absolute;
            top: 110%;
            left: 10%;
            font-size: 20px;
            font-family: "Comic Sans MS", fantasy;
        }

        .third-nav-middle {
            position: absolute;
            top: 110%;
            left: 43%;
            font-size: 20px;
            font-family: "Comic Sans MS", fantasy;
        }

        .third-nav-right {
            position: absolute;
            top: 110%;
            left: 80%;
            font-size: 20px;
            font-family: "Comic Sans MS", fantasy;
        }

        .iconMiddleOne {
            position: absolute;
            top: 95%;
            left: 80%;
        }

        .iconMiddleTwo {
            position: absolute;
            top: 95%;
            left: 45%;
        }

        .iconMiddleThree {
            position: absolute;
            top: 95%;
            left: 10%;
            font-family: "Comic Sans MS", fantasy;
        }

        .third-nav h4 {
            position: absolute;
            left: 40%;
            font-size: 35px;
            color: black;
            font-family: "Comic Sans MS", fantasy;
        }

        .ManVision {
            padding-left: 60%;
        }

        .fourth-nav {
            width: 100%;
            height: 120vw;
            background-color: white;
            padding: 5% 5% 5% 5%
        }

        .fourth-nav h1 {
            position: absolute;
            left: 10%;
            bottom: -70%;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav h3 {
            position: absolute;
            left: 10%;
            top: 165%;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-right h1 {
            position: absolute;
            left: 60%;
            top: 200%;
            font-size: 25px;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-right h3 {
            position: absolute;
            left: 60%;
            top: 211%;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-right h2 {
            position: absolute;
            left: 60%;
            top: 223%;
            font-size: 20px;
            color: blue;
            font-family: "Comic Sans MS", fantasy;
        }

        .salesman {
            position: absolute;
            left: 75%;
            top: 245%;
        }

        .fourth-nav-fourth h3 {
            position: absolute;
            left: 7%;
            top: 245%;
            font-size: 20px;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-fourth h4 {
            position: absolute;
            left: 7%;
            top: 255%;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-fourth h5 {
            position: absolute;
            left: 7%;
            top: 267%;
            font-size: 20px;
            color: blue;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-fifth img {
            position: absolute;
            left: 7%;
            top: 300%;
        }

        .fourth-nav-fifth h3 {
            position: absolute;
            left: 70%;
            top: 306%;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-fifth h4 {
            position: absolute;
            left: 70%;
            top: 310%;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-fifth h5 {
            position: absolute;
            left: 70%;
            top: 322%;
            color: blue;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-last h3 {
            position: absolute;
            left: 10%;
            top: 370%;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-last h4 {
            position: absolute;
            left: 10%;
            top: 375%;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-last h5 {
            position: absolute;
            left: 10%;
            top: 389%;
            color: blue;
            font-family: "Comic Sans MS", fantasy;
        }

        .fourth-nav-last img {
            position: absolute;
            left: 70%;
            top: 360%;
        }

        footer {
            /*height: 100px;*/
            /*background: #eee;*/
        }

        /*@media (max-width: 991px){*/
        #fifth-nav-new {
            padding: 20px 0;
            width: 100%;
            /*height: 40vw;*/
            /*background-color: black;*/
            /*padding: 5% 5% 5% 5%*/
        }

        .product {
            position: absolute;
            left: 7%;
            top: 420%;
            color: white;
            font-style: normal;
            font-family: "Comic Sans MS", fantasy;
            font-size: 18px;
        }

        .company {
            position: absolute;
            left: 20%;
            top: 420%;
            color: white;
            font-family: "Comic Sans MS", fantasy;
            font-size: 18px;
        }

        .users {
            position: absolute;
            left: 40%;
            top: 420%;
            color: white;
            font-family: "Comic Sans MS", fantasy;
            font-size: 18px;
        }

        .guides {
            position: absolute;
            left: 60%;
            top: 420%;
            color: white;
            font-family: "Comic Sans MS", fantasy;
            font-size: 18px;
        }

        .contact {
            position: absolute;
            left: 80%;
            top: 420%;
            color: white;
            font-family: "Comic Sans MS", fantasy;
            font-size: 18px;
        }
    }

    /*}*/









/*@media only screen and (min-width: 800px) and (max-width: 1280px){*/
/*


/*@media only screen and (min-width: 800px) and (max-width: 1280px){*/





/*html, body {*/
/*    height: 100%;*/
/*}*/

/*.main-container{*/
/*    min-height: 100%;*/
/*    margin-bottom: -100px;*/
/*    background: #ddd;*/
/*    overflow-x: hidden;*/
/*    width: 100%;*/
/*    !*!*height: 100%;*!*!*/
/*    !*position: relative;*!*/
/*    !*border: black;*!*/

/*}*/

/*!*.main-container:after {*!*/
/*!*    content: "";*!*/
/*!*    display: block;*!*/
/*!*    height: 100px;*!*/

/*!*}*!*/



/*.logo{*/
/*    color: rgb(23, 2, 106);*/
/*    text-shadow: 1px 1px 2px rgb(219, 246, 95), 0 0 25px rgb(4, 4, 0), 0 0 5px rgb(50,50, 63) ;*/
/*    font-size: 20px;*/
/*    font-weight: 700;*/
/*    margin:0px 17px 16px 0%;*/
/*}*/
/*.ptag{*/
/*    width: 10%;*/
/*    text-align: start;*/
/*    padding-top: 0%;*/
/*}*/
/*.topNav{*/
/*    height: 5%;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    padding-top: 0%;*/
/*}*/
/*.topNav nav{*/
/*    display: flex;*/
/*    height: 100%;*/
/*    width: 85%;*/
/*    justify-content: end;*/
/*    padding-left: 30px;*/
/*    padding-bottom: 10px;*/
/*    margin-bottom: 5px;*/

/*}*/
/*.topNav nav li{*/
/*    list-style: none;*/
/*    padding: 1% 1%;*/
/*}*/
/*.topNav nav li a{*/
/*    text-decoration: none;*/
/*    font-size: 15px;*/
/*    font-weight: 700;*/
/*    color: black;*/
/*}*/
/*.login {*/
/*    display: flex;*/
/*    text-align: center;*/
/*    padding: 0% 1%;*/
/*    width: 8%;*/
/*    justify-content: space-between;*/
/*    font-weight: 700;*/
/*    margin-bottom: 5px;*/
/*}*/
/*.getADemo{*/
/*    border: 1px solid blue;*/
/*    color: blue;*/
/*    font-size: 13px;*/
/*    height: 50%;*/
/*    text-align: justify-all;*/
/*    padding-bottom:11px;*/
/*    padding-top: -7px;*/
/*}*/
/*.login img{*/
/*    width: 35%;*/
/*    height: 40%;*/
/*    padding-top: 10%;*/
/*    margin-top: 7px;*/
/*}*/
/*.second-nav{*/
/*    width: 100%;*/
/*    height: 20vw;*/
/*    background-color: dodgerblue;*/
/*    padding: 5% 5% 5% 5%;*/
/*}*/
/*.second-middle h4{*/
/*    text-align: center;*/
/*    font-size: 35px;*/
/*    color: white;*/
/*    margin-right: 15%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.second-middle h6{*/
/*    text-align: center;*/
/*    font-size: 15px;*/
/*    color: white;*/
/*    margin-right:15%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.second-middle h5 {*/
/*    border: 2px solid black;*/
/*    background-color: black;*/
/*    color: white;*/
/*    font-size: 17px;*/
/*    height: 50%;*/
/*    width: 10%;*/
/*    text-align: center;*/
/*    margin-left: 38%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.partnerLeft{*/
/*    position: absolute;*/
/*    top: 40%;*/
/*}*/
/*.partner-right{*/
/*    position: absolute;*/
/*    top: 32%;*/
/*    left: 80%;*/
/*}*/
/*.third-nav{*/
/*    width: 100%;*/
/*    height: 20vw;*/
/*    background-color: aliceblue;*/
/*    padding: 5% 5% 5% 5%*/
/*}*/
/*.third-nav-left{*/
/*    position: absolute;*/
/*    top: 110%;*/
/*    left: 10%;*/
/*    font-size: 20px;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.third-nav-middle{*/
/*    position: absolute;*/
/*    top: 110%;*/
/*    left: 43%;*/
/*    font-size: 20px;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.third-nav-right{*/
/*    position: absolute;*/
/*    top: 110%;*/
/*    left: 80%;*/
/*    font-size: 20px;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.iconMiddleOne{*/
/*    position: absolute;*/
/*    top: 95%;*/
/*    left: 80%;*/
/*}*/
/*.iconMiddleTwo{*/
/*    position: absolute;*/
/*    top: 95%;*/
/*    left: 45%;*/
/*}*/
/*.iconMiddleThree{*/
/*    position: absolute;*/
/*    top: 95%;*/
/*    left: 10%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.third-nav h4{*/
/*    position: absolute;*/
/*    left: 40%;*/
/*    font-size: 35px;*/
/*    color: black;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.ManVision{*/
/*    padding-left: 60%;*/
/*}*/
/*.fourth-nav{*/
/*    width: 100%;*/
/*    height: 120vw;*/
/*    background-color: white;*/
/*    padding: 5% 5% 5% 5%*/
/*}*/
/*.fourth-nav h1{*/
/*    position: absolute;*/
/*    left: 10%;*/
/*    bottom: -70%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav h3{*/
/*    position: absolute;*/
/*    left: 10%;*/
/*    top: 165%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-right h1{*/
/*    position: absolute;*/
/*    left: 60%;*/
/*    top: 200%;*/
/*    font-size: 25px;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-right h3{*/
/*    position: absolute;*/
/*    left: 60%;*/
/*    top: 211%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-right h2{*/
/*    position: absolute;*/
/*    left: 60%;*/
/*    top: 223%;*/
/*    font-size: 20px;*/
/*    color: blue;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.salesman{*/
/*    position: absolute;*/
/*    left: 75%;*/
/*    top: 245%;*/
/*}*/
/*.fourth-nav-fourth h3{*/
/*    position: absolute;*/
/*    left: 7%;*/
/*    top: 245%;*/
/*    font-size: 20px;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-fourth h4{*/
/*    position: absolute;*/
/*    left: 7%;*/
/*    top: 255%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-fourth h5{*/
/*    position: absolute;*/
/*    left: 7%;*/
/*    top: 267%;*/
/*    font-size: 20px;*/
/*    color: blue;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-fifth img{*/
/*    position: absolute;*/
/*    left: 7%;*/
/*    top: 300%;*/
/*}*/
/*.fourth-nav-fifth h3{*/
/*    position: absolute;*/
/*    left: 70%;*/
/*    top: 306%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-fifth h4{*/
/*    position: absolute;*/
/*    left: 70%;*/
/*    top: 310%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-fifth h5{*/
/*    position: absolute;*/
/*    left: 70%;*/
/*    top: 322%;*/
/*    color: blue;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-last h3{*/
/*    position: absolute;*/
/*    left: 10%;*/
/*    top: 370%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-last h4{*/
/*    position: absolute;*/
/*    left: 10%;*/
/*    top: 375%;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-last h5{*/
/*    position: absolute;*/
/*    left: 10%;*/
/*    top: 389%;*/
/*    color: blue;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*}*/
/*.fourth-nav-last img {*/
/*    position: absolute;*/
/*    left: 70%;*/
/*    top: 360%;*/
/*}*/

/*footer {*/
/*    height: 100px;*/
/*    !*background: #eee;*!*/
/*}*/

/*!*@media (max-width: 991px){*!*/
/*#fifth-nav-new{*/
/*    padding: 20px 0;*/
/*    width: 100%;*/
/*    !*height: 40vw;*!*/
/*    !*background-color: black;*!*/
/*    !*padding: 5% 5% 5% 5%*!*/
/*}*/
/*.product{*/
/*    position: absolute;*/
/*    left: 7%;*/
/*    top: 420%;*/
/*    color: white;*/
/*    font-style: normal;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*    font-size: 18px;*/
/*}*/
/*.company{*/
/*    position: absolute;*/
/*    left: 20%;*/
/*    top: 420%;*/
/*    color: white;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*    font-size: 18px;*/
/*}*/
/*.users{*/
/*    position: absolute;*/
/*    left: 40%;*/
/*    top: 420%;*/
/*    color: white;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*    font-size: 18px;*/
/*}*/
/*.guides{*/
/*    position: absolute;*/
/*    left: 60%;*/
/*    top: 420%;*/
/*    color: white;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*    font-size: 18px;*/
/*}*/
/*.contact{*/
/*    position: absolute;*/
/*    left: 80%;*/
/*    top: 420%;*/
/*    color: white;*/
/*    font-family: "Comic Sans MS", fantasy;*/
/*    font-size: 18px;*/
/*}*/